<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
     The following flags provide additional Feature Configuration filtering for menus and windows
    -->
    <add key="Functionality_Debug" value="true" />
    <add key="Functionality_Automation" value="true" />
    <add key="Functionality_Wizard" value="true" />
    <add key="Functionality_BasicOnly" value="false" />
    <add key="Functionality_Factory" value="true" />
    <add key="Functionality_CombineCompoundIdResults" value="false" />
    <!--
     The following Low and high memeory thresholds do 
     apply to picard automation ONLY , 
     Following settings DO NOT apply to interactive qual appication.
     to change settings of interactive application edit AgtQual.exe.config  
    -->
    <add key="LowMemThresholdInMB" value="40" />
    <add key="HighMemThresholdInMB" value="300" />
    <!--
     FbFThreadCount is numeric for number of thread Find by formula should create
     If value <=0 then default number of threads are used
        default is computed based on number of cores the machine has 
     If value is 1
      Find by Formula is single threaded.
     If value > 1
      Number of threads created by Find by formula = value specified
     
     The value set here do NOT apply to interactive AgtQual.exe.
     To change those edit the AgtQual.exe.config  
    -->
    <!-- ====================================================== -->
    <add key="FbFThreadCount" value="1" />
    <!--
    This flag will be used to control whether Indexed Data Access will
    be used for AMDIS chromatogram deonvolution algorithm.
    -->
    <add key="UseIndexedDataAccessForDeconvolution" value="true" />
    <add key="SimilarityCurveThreshold" value="0.05" />
    <!--
    This flag is for how the fragment ions get selected
    Abudance * (MZ^UseAbundanceAndMZ)
    -->
    <add key="UseAbundanceAndMZ" value="2" />
    <!--
    This flag is for Allions fragment confirmation
    -->
    <add key="FbFScoreThreshold" value="90" />
    <add key="AllIonsScoreThreshold" value="80" />
    <add key="GCMolecularAbundanceThreshold" value="0.05" />
    <add key="WeightingFragIonEICAbundance" value="false" />
    <add key="ClusterPeakDistance" value="0.05" />
    <add key="MinPointsForCalculateCoelutionScore" value="6" />
    <add key="LogAllIons" value="false" />
    <add key="FragAbundRatioWarning" value="75" />
    <!-- This is for GC-QTOF only. prefer weighting ratio not to be expressed in decimal, max value is 100 -->
    <add key="WeightingOnChromPkAbundanceScore" value="85.0" />
    <!-- For Peptide Server -->
    <add key="MaxLinkedDigestPeptides" value="2" />
    <add key="UseMixMatchModificationsForIntactProtein" value="true" />
    <add key="MaxIndividualMixMatchModificationsForIntactProtein" value="30" />
    <add key="MaxPredictedModificationsResults" value="30" />
    <!-- Halt script execution on exception (applogic) -->
    <add key="HaltScriptOnException" value="true" />
    <!-- Maximum number of times to retry failed report.  Minimum is 2 -->
    <add key="ExcelReportRetries" value="5" />
    <!-- Optional delay to wait after reporting failure [seconds].  Set to zero for no delay -->
    <add key="ExcelReportRetryDelay" value="8" />
    <!-- Generate reports on single thread.
         Set to true to enforce order of report generation, 
         or false for default multithreaded operation (may be faster).
    -->
    <add key="SingleReportThread" value="false" />
    <!-- Time to wait for print of PDF report before killing job [seconds].
         Increase this number if large print jobs are regularly being cut off.
    -->
    <add key="PrintPDFTimeout" value="20" />
    <!-- for chromatogram noise calculation, the minimum reported abundance by MS instrument-->
    <add key="MinReportAbundance" value="0.01" />
    <!--Multiplication factor for Peptides Per Cys, higher this value, the higher is limit in Daltons for that type of x-linked complex.
    Higher number will give more peptides to match against compounds, but will slow non-reduced sequence matching-->
    <add key="PeptidePerCysMultiplicationFactor1" value="3" />
    <add key="PeptidePerCysMultiplicationFactor2" value="3" />
    <add key="PeptidePerCysMultiplicationFactor3" value="3" />
    <!--this parameter is used in SpectralPeakFinder for FindByProteinDeconvolution-->
    <add key="PeakWidthParamInFindByProteinDeconvolution" value="5.136e-6" />
    <!--this parameter is used in SpectralPeakFinder for FindByProteinDeconvolution-->
    <add key="HeightThresholdValueInFindByProteinDeconvolution" value="3.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- 0 = no trace, 1 = errors, 2 = errors and warnings, 3 = errors, warnings, info, 4 = verbose -->
      <add name="AppCommand" value="2" />
      <add name="AppLayer" value="2" />
      <add name="AppLogic" value="2" />
      <add name="BoundTable" value="2" />
      <add name="CommandModel" value="2" />
      <add name="CoreAlgorithms" value="2" />
      <add name="CoreBase" value="2" />
      <add name="DAPlotControl" value="2" />
      <add name="BaseDataAccess" value="2" />
      <add name="CoreDataAccess" value="2" />
      <add name="EventManipulating" value="2" />
      <add name="ExampleSwitch" value="2" />
      <add name="MathLibrary" value="2" />
      <add name="MSActualsTable" value="2" />
      <add name="ParameterFreeIntegrator" value="0" />
      <add name="PeakListTable" value="2" />
      <add name="PlotControl" value="2" />
      <add name="PresentationLayer" value="2" />
      <add name="PresentationWrapper" value="2" />
      <add name="QuadPeakFinder" value="2" />
      <add name="ReportEngine" value="2" />
      <add name="SampleInfoTable" value="2" />
      <add name="SettingsEditor" value="2" />
      <add name="TreeView" value="2" />
      <add name="UnboundTable" value="2" />
    </switches>
    <!-- Without autoflush, nothing ends up in the trace file unless Flush is explicitly called. -->
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- If desired, you can disable the default trace listener (for performance?) -->
        <!-- remove type="System.Diagnostics.DefaultTraceListener" -->
        <!-- -->
        <!-- Agilent custom trace listeners -->
        <!-- CsvTraceListener: initializeData = "log file name" -->
        <!-- 
        <add name="CsvFileTraceListener" 
             type="Agilent.MassSpectrometry.Utilities.CsvFileTraceListener, CoreTraceListeners" 
             initializeData="QualCsvTrace.csv" />
        -->
        <!-- MemoryTraceListener: initializeData ="log file name, log size in megabytes"-->
        <add name="MemoryTraceListener" type="Agilent.MassSpectrometry.Utilities.MemoryTraceListener, CoreTraceListeners" initializeData="QualMemoryTrace.csv, 16, true" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.codedom>
    <compilers>
      <!-- zero or more compiler elements -->
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, &#xD;&#xA;          Version=2.0.3600.0, Culture=neutral, &#xD;&#xA;          PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
    </compilers>
  </system.codedom>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.242.0" newVersion="3.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>